<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WalletHubassignment">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Assignment.WalletHubassignment.FacebookloginTest"/>
      <class name="Assignment.WalletHubassignment.WallethubReviewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
